
namespace $propFile.namespace
{
#if($propFile.indexer)
#else
    using Algorand.Algod.Model.Transactions;
\#if UNITY
    using UnityEngine;
#[[#endif]]#
#end

using System = global::System;
\#if UNITY
using UnityEngine;
#[[#endif]]#
#set($accessibility="public")
#set($className=$def.name)
#if($className=="PendingTransactionResponse")
#set($className="ReturnedTransaction")
#set($accessibility="internal")
#elseif($className=="PendingTransactionsResponse")
#set($className="PendingTransactions")
#elseif($className=="BlockResponse")
#set($className="CertifiedBlock")
#end

\#if UNITY
[System.Serializable]
#[[#endif]]#
#if($!def.parentType && $!def.parentType != "" )
public partial class $className : $!def.parentType{
#else
public partial class $className{
#end
#set( $skip = $propFile.property_skip.split(",") )
#foreach( $prop in $props )
#if (!$prop.algorandLongNameAlias || $prop.algorandLongNameAlias=="")
    #set( $propName = $str.kebabToUpperCamel($prop.propertyName) )
    #set( $fullPropNameJson = "${className}.${prop.propertyName}")
#else
    #set( $propName = $str.kebabToUpperCamel($prop.algorandLongNameAlias) )
    #set( $fullPropNameJson = "${className}.${prop.algorandLongNameAlias}")
#end
#set( $fullPropName = "${className}.${propName}")
#if ( !$skip.contains($fullPropName) && !$skip.contains($fullPropNameJson)  )
#if( $prop.required)

    [Newtonsoft.Json.JsonProperty("$prop.propertyName", Required = Newtonsoft.Json.Required.Always)]
    [System.ComponentModel.DataAnnotations.Required]
#else

    [Newtonsoft.Json.JsonProperty("$prop.propertyName", Required = Newtonsoft.Json.Required.Default,  NullValueHandling = Newtonsoft.Json.NullValueHandling.Ignore)]
#end
#set($unityAttrib = "[field:SerializeField]" )
#if ($className == "Account" && $prop.propertyName=="address") 
    #set( $propType = "Address" )
    #set( $propTypeUnity = "Address" )
#elseif ( $prop.type == "PendingTransactionResponse" )
    #set( $propType = "IReturnableTransaction" )
    #set( $propTypeUnity = "IReturnableTransaction" )
    #set($unityAttrib = "[field:SerializeReference]" )
#elseif ( $prop.algorandFormat == "SignedTransaction" )
    #set( $propType = "SignedTransaction" )
    #set( $propTypeUnity = "SignedTransaction" )
#elseif ( $prop.algorandFormat == "Transaction" )
    #set( $propType = "Transaction" )
    #set( $propTypeUnity = "Transaction" )
#elseif ( $prop.algorandFormat == "Address" )
    #set( $propType = "Address" )
    #set( $propTypeUnity = "Address" )
#elseif ( $prop.algorandFormat == "TEALProgram" )
    #set( $propType = "TEALProgram" )
    #set( $propTypeUnity = "TEALProgram" )
#elseif ( $prop.algorandFormat == "BlockHeader" )
    #set( $propType = "Block" )    
    #set( $propTypeUnity = "Block" )
#elseif ( $prop.type == "integer" )
#if($prop.required)
    #set( $propType = "ulong" )
    #set( $propTypeUnity = "ulong" )
#else
    #set( $propType = "ulong?" )
    #set( $propTypeUnity = "ulong" )
#end
#elseif( $prop.type == "binary" )
    #set( $propType = "byte[]" )
    #set( $propTypeUnity = "byte[]" )
#elseif( $prop.type == "boolean" )
#if($prop.required)
    #set( $propType = "bool" )   
    #set( $propTypeUnity = "bool" )
#else
    #set( $propType = "bool?" )
    #set( $propTypeUnity = "bool" )
#end
#elseif ($prop.arrayType && $prop.arrayType=="PendingTransactionResponse")
  #set( $propType = "IReturnableTransaction" ) 
  #set( $propTypeUnity = "IReturnableTransaction" )
#elseif ($prop.arrayType && $prop.format == "byte")
    #set( $propType = "byte[]" )
    #set( $propTypeUnity = "byte[]" )
#elseif ($prop.type == "string" && $prop.format == "byte")
    #set( $propType = "byte[]" ) 
    #set( $propTypeUnity = "byte[]" )
#elseif( $prop.type == "string" || $prop.arrayType == "string" )
    #set( $propType = "string" )   
    #set( $propTypeUnity = "string" )          
#elseif( $prop.type == "object" )
    #set( $propType = "byte[]" )    
    #set( $propTypeUnity = "byte[]" )
#elseif( $prop.type == "address" )
    #set( $propType = "Address" )
    #set( $propTypeUnity = "Address" )
#elseif( $prop.arrayType  && $prop.arrayType == "integer")
    #set( $propType = "ulong" )
    #set( $propTypeUnity = "ulong" )
#elseif( $prop.arrayType  && $prop.arrayType != "")
    #set( $propType = $prop.arrayType )
    #set( $propTypeUnity = $prop.arrayType)
#elseif( $prop.refType  && $prop.refType != "")
    #set( $propType = $prop.refType )    
    #set( $propTypeUnity = $prop.refType )    
#else
    UNHANDLED TYPE **
- name: $!propName
- ref: $!prop.refType
- type: $!prop.type
- array type: $!prop.arrayType
- algorand format: $!prop.algorandFormat
- format: $!prop.format
- prop: $prop
$unknown.type ## force a template failure with an unknown type
#end
#if( $prop.arrayType && $prop.arrayType != "")
\#if UNITY
    $unityAttrib
    [Tooltip(@"$prop.doc")]
    [field:InspectorName(@"$propName")]
    public System.Collections.Generic.List<$propTypeUnity> $propName {get;set;} = new System.Collections.Generic.List<$propType>();
#[[#else]]#
    public System.Collections.Generic.ICollection<$propType> $propName {get;set;} = new System.Collections.ObjectModel.Collection<$propType>();
#[[#endif]]#
#else
\#if UNITY
    $unityAttrib
    [Tooltip(@"$prop.doc")]
    [field:InspectorName(@"$propName")]
    public $propTypeUnity $propName {get;set;}
#[[#else]]#
    public $propType $propName {get;set;}
#[[#endif]]#


#end
#end
#end
    
}


}
